body { background: #8c30fe; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-shipping-0 { color: #9acf7c; font-size: 13px; margin-bottom: 5px; }
.block-product-1 { color: #2d1340; font-size: 20px; margin-bottom: 5px; }
.block-uploader-2 { color: #57e41c; font-size: 21px; margin-bottom: 5px; }
.block-sms-3 { color: #498ae2; font-size: 16px; margin-bottom: 5px; }
.block-notify-4 { color: #f62be1; font-size: 15px; margin-bottom: 5px; }
.block-product-5 { color: #83c3d1; font-size: 13px; margin-bottom: 5px; }
.block-database-6 { color: #e7a6fe; font-size: 19px; margin-bottom: 5px; }